[submodule "stm32-extension-project-A"]
	path = stm32-extension-project-A
	url = https://github.com/anttikes/stm32-extension-project-A.git
[submodule "stm32-extension-project-B"]
	path = stm32-extension-project-B
	url = https://github.com/anttikes/stm32-extension-project-B.git
